body{
    margin: 0;
}
.item {
    aspect-ratio: 1;
    overflow: hidden;  
    position: relative; 
    border: 3px solid black;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 

}

img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    top: 0; 
    left: 0; 
}
