body{
    margin: 0;
    width: 100%;
    height: 100%;
    
}

.header{
    width: 100%;
    border-radius: 50px;
    background-color: rgb(235, 219, 177);
    height: 5rem;
    margin-bottom: 1%;
    text-align: center;
    position: relative;
    margin-top: 1%;
}

h1{
    margin-left: 43%;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 0.5%; 

}

.add-container{
    margin-top: 0.5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 0.5%; 

}

.grid-item {
    aspect-ratio: 1;
    overflow: hidden;  
    position: relative; 
    border: 3px solid black;
    border-radius: 5px;
}


img{
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    top: 0; 
    left: 0; 
}

#add-button {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    top: 0; 
    left: 0; 
}

#add-button:hover {
    background-color: #818181; 
}

#file-input {
    display: none; 
}
